name: Build Tauri App (macOS)

on:
  workflow_dispatch: {}

jobs:
  build:
    runs-on: macos-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup
      run: |
        brew install create-dmg
        npm install
        npm install @tauri-apps/cli
        
    - name: Build
      run: npx tauri build
      
    - name: Upload results
      uses: actions/upload-artifact@v4
      with:
        name: app-build
        path: src-tauri/target/**/*.dmg